<div class="callout large">
  <div class="row column text-center">
    <h1><strong><%= @name %></strong> 정류장</h1>
    <p class="lead"><i><%= @bound %></i> 방향</p>
    <small>정류장 ID [<%= params[:id] %>] <a href="http://m.gbis.go.kr/search/StationArrivalViaList.do?stationId=<%= params[:id] %>">정보</a></small>
  </div>
</div>
<div class="callout">
    <div class="row column text-center">
        <h3>잠시 후 도착</h3>
        <hr>
        <div class="row">
            <% for i in 0..(@routeIds.length-1) do %>
                <% if @prevLocation1s[i].content.to_i < 4 then %>
                <div class="small-6 medium-4 large-2 columns">
                    <strong class="soon"><%= Bus.where(code: @routeIds[i].content).take.num %></strong>
                </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
<div class="callout alert">
    <div class="row column text-center">
        <h5>버스 번호를 클릭하시면 노선별 자세한 정보를 확인하실 수 있습니다.</h5>
    </div>
</div>
<section>
    <div class="row column">
        <h3>노선별 도착정보</h3>
        <%= if @routeIds.length == 0 then '운행시간이 아니거나 운행 중인 버스가 존재하지 않습니다.' end %>
        <% for i in 0..(@routeIds.length-1) do %>
            <% query = Bus.where(code: @routeIds[i].content).take %>
        <div class="large-4 medium-6 small-12 columns card back<%= query.type %> clearfix bus" align="center">
            <div class="large-5 medium-12 small-12 columns float-left">
                <h1 class="white-text"><a class="busNum" href="http://m.gbis.go.kr/search/getBusRouteDetail.do?routeId=<%= @routeIds[i].content.to_s %>&osInfoType=M"><%= query.num %></a></h1>
                <span class="secondary label"><%= if query.type == '1' then '일반시내버스' elsif query.type == '2' then '직행좌석버스' elsif query.type=='3' then '광역버스' elsif query.type=='4' then '마을버스' elsif  query.type=='5' then '시외버스' else '공항버스' end %></span>
            </div>
            <div class="large-7 medium-12 small-12 columns">
                <table class="hover text-center">
                    <tbody>
                        <tr>
                            <td><strong><%= @prevLocation1s[i].content %></strong>전</td>
                            <td><strong><%= @locationNo1s[i].content %></strong>분</td>
                        </tr>
                        <% unless query.type == '1' or query.type == '4' then %>
                            <% unless @remainSeat[i].content.include? '-' then %>
                            <tr>
                                <td colspan="2">
                                <strong><%= @remainSeat[i].content %></strong>석 남음
                                </td>
                            </tr>
                            <% else %>
                            <tr>    
                                <td colspan="2">남은 좌석 없음</td>
                            </tr>
                            <% end %>
                        <% else %>
                            <tr>
                                <td colspan="2">좌석 정보 미지원</td>
                            </tr>
                        <% end %>
                        <tr>
                            <td colspan="2">
                                <% unless @locationNo2s[i].content == '' then %>
                                    <small>다음 버스 <strong><%= @locationNo2s[i].content %></strong>분 뒤 도착</small>
                                <% else %>
                                    <small>다음 버스 정보 없음</small>
                                <% end %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <% end %>
    </div>
</section>
<hr>