<div class="callout large">
  <div class="row column text-center">
    <h1><strong><%= @data['name'] %></strong></h1>
    <p class="lead"><i><%= @data['direction'] %></i> 방향</p>
  </div>
</div>

<div class="callout">
    <div class="row column text-center">
        <h3>잠시 후 도착</h3>
        <span>3분 내로 도착하는 버스가 표시됩니다.</span>
        <hr>
        <div class="row">
            <% @arrivals.each do |bus| %>
                <% if bus[1] <= 3 then %>
                <div class="small-6 medium-4 large-2 columns">
                    <strong class="soon"><%= bus[0] %></strong>
                </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<div class="callout">
    <div class="row column text-center">
        <h3>운행 종료</h3>
        <hr>
        <div class="row">
            <% @ended.each do |bus| %>
                <div class="small-6 medium-4 large-2 columns">
                    <strong class="soon"><%= bus.to_s.split(' ')[0] %></strong>
                </div>
            <% end %>
        </div>
    </div>
</div>

<div class="callout alert">
    <div class="row column text-center">
        <h5>버스 번호를 클릭하시면 노선별 자세한 정보를 확인하실 수 있습니다.</h5>
    </div>
</div>

<section>
    <div class="row column">
        <h3>노선별 도착정보</h3>
        <% @eachInfo.each do |bus| %>
        <div class="large-4 medium-6 small-12 columns card back<%= bus[1]['lineTypeCode'] %> clearfix bus" align="center">
            <div class="large-5 medium-12 small-12 columns float-left">
                <h1 class="white-text"><%= bus[0] %></h1>
                <span class="secondary label"><%= bus[1]['lineType'] %></span>
            </div>
            <div class="large-7 medium-12 small-12 columns">
                <table class="hover text-center">
                    <tbody>
                        <tr>
                            <td><strong><%= bus[1]['stopsBefore'][0] %></strong>전</td>
                            <td><strong><%= bus[1]['arrivalTimes'][0] %></strong>분</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <% unless bus[1]['stopsBefore'][1] == 0 then %>
                                    <small>다음 버스 <strong><%= bus[1]['stopsBefore'][1] %></strong>분 뒤 도착</small>
                                <% else %>
                                    <small>다음 버스 정보 없음</small>
                                <% end %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <% end %>
    </div>
</section>
<hr>